.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: center;
    height: 7rem;
    --selected-color: var(--main-color);
    background-color: #fff;
}

.navbar_wrapper {
    width: 40rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media (max-width: 420px) {
    .navbar_wrapper {
        width: 35rem;
    }
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.7rem;
    padding-top: 1rem;
    width: 100%;
}

.indicator {
    width: 100%;
    height: 0.3rem;
    position: relative;
    position: absolute;
    left: 0;
    background-color: var(--selected-color);
    bottom: 0;
    transition: left 0.4s ease-in-out, width 0.4s ease-in-out;
}

@media (max-width: 480px) {
    .navbar {
        height: 7rem;
    }

    .list {
        height: 6.7rem;
    }

    .indicator {
        height: 0.3rem;
    }
}

.navbar_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
    justify-content: center;
    height: 100%;
    padding: 0 1rem;
}

.item_selected > .item_text {
    color: var(--selected-color);
}

.item_text {
    transition: color 0.2s ease-in-out;

    color: var(--unselected-color);
    font-size: 2.2rem;
}

@media (max-width: 450px) {
    .item_text {
        font-size: 1.8rem;
    }
}
