.item {
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_icon {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
    height: 8rem;
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
    margin-bottom: 1rem;
}

.item_icon:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.item_text {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
