:root {
    --shadow-default: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
        0 3px 10px 0 rgba(0, 0, 0, 0.19);
    --shadow-default-hover: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

    --shadow-bottom: 0 6px 6px -6px rgba(0, 0, 0, 0.2),
        0 8px 10px -10px rgba(0, 0, 0, 0.19);
}

html {
    font-size: 10px;
}

body {
    font-size: 2.2rem;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #000000b4;
    scroll-behavior: smooth;
    color: #fff;
    overflow-x: hidden;
}

h1 {
    font-size: 10rem;
    font-weight: 100;
}

h2 {
    font-weight: 100;
    font-size: 3.5rem;
    margin: 0 0.5rem;
}

h3 {
    font-size: 2rem;
    margin: 1rem 0;
    color: #aaa;
}

ul {
    list-style-type: none;
}
